@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 1150px;
  padding: 0px 15px;
  margin: auto !important;
}

body {
  background: hsl(207, 26%, 17%);
}

.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background: hsl(209, 23%, 22%);
  z-index: 11;
}

.header h2 {
  display: flex;
  align-items: center;
  color: #fff;
}

.country__bottom {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
}

.country__card {
  width: 250px;
  border-radius: 5px;
  background: hsl(209, 23%, 22%);
  color: #fff;
}

.country__img img {
  width: 100%;
  height: 150px;
  border-radius: 5px 5px 0px 0px;
}

.all__country__wrapper {
  margin-top: 100px;
}

.country__data {
  padding: 20px;
}

.country__data h3 {
  margin-top: 10px;
  margin-bottom: 15px;
}

.country__data h5 span{
  color: #aeadad;
}

.country__bottom h5 {
  color: #fff;
  margin-top: 15px;
  margin-bottom: 10px;
}

input {
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  background: hsl(209, 23%, 22%);
  border: none;
  outline: none;
  margin-bottom: 50px;
  cursor: pointer;
}

::placeholder {
  color: #fff;
}

.country__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

select {
  padding: 10px 10px;
  background: hsl(209, 23%, 22%);
  margin-bottom: 50px;
  margin-right: 25px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.country__info__wrapper {
  margin-top: 120px;
}

.country__info__container {
  display: flex;
  column-gap: 1rem;
}

.country__info-img,
.country__info {
  width: 50%;
}

button {
  padding: 10px;
  color: #fff;
  background: hsl(209, 23%, 22%);
  border: none;
  outline: none;
  cursor: pointer;
  width: 120px;
  border-radius: 5px;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: #fff;
}

.country__info h3 {
  color: #fff;
  margin-bottom: 30px;
}

.country__info-left h5 {
  color: #fff;
  margin-bottom: 10px;
}
.country__info-left h5 span {
  color: #a3a2a2;
  opacity: 85%;
  font-weight: 400;
}